@import url("https://fonts.googleapis.com/css2?family=Montserrat");
$primary-color: #6074F9;
$secondary-color: #F96060;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.container{
  width: 80%;
  margin: auto;
}

// Header Style component
header{
  background: $primary-color;
  color: #fff;
  width: 100%;
  height: 15vh;
  font-family: 'Montserrat', sans-serif;

  nav{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    line-height: 15vh;
 
  }
}
